* {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: grey;
}

.header{
    margin-top: 10px;
}

h1 {
    text-align: center;
    font-size: 20px;
    color: black;
}

h2 {
    text-align: center;
    font-size: 14px;
    color: black;
}

.container{
    display: flex;
    flex-direction: column;
}

    @media (min-width: 640px) {
    .container{
        justify-content: center; /* Add this line */
        align-items: center; /* Add this line */
        }
    }

.img-container {
    display: flex;
    max-width: 640px;
    aspect-ratio: 1/1;
    max-height: 100vw;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
  }

    @media (max-width: 640px) {
    .img-container {
        width: 100%;
        aspect-ratio: 1/1;
        max-height: 100vw;
        }
    }

img {
    position: relative;
    max-width: 100%; 
    max-height: 100%;
}

.info-container {
    margin:20px;
}

.name {
    font-weight: bold;
}

.info {
    display: flex;
    margin-top: 10px;
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
}

.button {
    display: block;
    background-color: #f7f7f7;
    color: #a7a7a7;
    width: 72px;
    height: 72px;
    position: relative;
    text-align: center;
    line-height: 72px;
    border-radius: 50%;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
    font-size: 20px;
    border: 0px;
    padding: 0px;
  }